

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
.dob{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100% ;
    height: 100vh;
    background-color: #15B5EA;
    flex-direction: column;
}
h1{
    text-transform: capitalize;
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
    background-color: #5f82a0;
    padding: 1rem;
    border-radius: 1rem;
    gap: 10px;
    box-shadow: 10px 10px  20px rgb(89, 0, 255);

}
.div1{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.div2{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
input{
    padding: 10px;
    border-radius: 5px;
    outline: none;
}
.btn{
    padding: 5px;
    border-radius: 5px;
    border: none;
    background: #23a4dc;
}
.result{
    margin-top: 2rem;
    text-transform: capitalize;
    font-size: 2rem;
    font-weight: 700;
    color: black;

}
